/* 

Command Bar classNames
.iconRight
.primary
.default 

*/

// Button dropdown
.ms-Button {
  &--commandBar, &--command {
    // Default buttons styles
    height: 40px;
    border-radius: var(--btn-border-radius);
    font-size: var(--fs-14);
    font-weight: normal;
    padding: 0 0.8rem;
    &.primary {
      background: var(--primary-7);
      color: var(--primary-1);
      &:focus,
      &:hover {
        background-color: var(--primary-6);
      }
      &:active {
        background-color: var(--primary-9);
      }

      &.is-disabled {
        background: var(--neutral-3);
        color: var(--neutral-6) !important;
        opacity: 1 !important;
      }
    }

    // Default buttons styles
    &.default {
      background-color: rgba(var(--alpha), 0.9);
      color: var(--primary-7);
      border: none;
      // border: 1px solid;
      &:focus,
      &:hover {
        background-color: var(--neutral-1);
        color: var(--neutal-5);
      }
      &:active {
        background-color: rgba(var(--alpha), 0.8);
      }

      &.is-disabled {
        background: var(--neutral-6);
        color: var(--neutral-3);
        opacity: 1 !important;
      }
    }

    // icon right
    &.iconRight {
      .ms-Button-flexContainer {
        display: flex;
        flex-direction: row-reverse;
      }
    }
  }
  // sizes of buttons
  &.medium {
    height: 34px;
  }
  &.small {
    height: 34px;
  }
}
