.accordion {
    display: flex;
    flex-direction: column;
    margin: 8px 16px;
    border: 1px solid var(--input-bg-color);
    border-radius: 3px;
    margin-top: 8px;
    font-size: var(--fs-14);
    &__title {
      height: 40px;
      display: flex;
      align-items: center;
      font-size: var(--fs-16);
      font-weight: bold;
    }
    &__header {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      padding: 6px 8px;
      align-items: center;
      background: var(--neutral-2);
      border-radius: 0;
      &:hover {
        color: var(--primary-7);
        background: var(--primary-1);
      }
      cursor: pointer;
      &__title {
        height: 40px;
        display: flex;
        align-items: center;
      }
      &__actions {
        display: flex;
        gap: 4px;
      }
      button {
        background: transparent;
        color: var(--neutral-9);
        &:hover {
          background: transparent;
        }
      }
    }
    &__description {
      padding: 16px;
      // padding: 18px;
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;
      gap: 16px;
  
      &.hide {
        display: none;
      }
      &.show {
        display: block;
      }
    }
  }
  .accordion-open {
    color: var(--neutral-9);
    background: var(--primary-1);
  }
  
  .docViewAcc {
    .accordion {
      margin: 1rem 0;
    }
    .accordion__actions {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
  }
  .ac_completed {
    background: #e1f6d4;
    padding: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    &:before {
      background: transparent;
      color: var(--green-color);
      border: 1px solid var(--green-color);
      content: "\e8fb";
      font-family: "Fabric External MDL2 Assets";
      padding: 2px;
      margin: 4px;
      font-size: 10px;
      border-radius: 100%;
    }
  }
  .ac_pending {
    background: #fefecb;
    padding: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    &:before {
      background: transparent;
      content: "";
      font-family: "Fabric External MDL2 Assets"; 
    }
  }
  .success-color {
    color: var(--green-color);
  }
  .warning-color {
    color: var(--warning-border);
  }
  