

// active color theme
//$actiive-theme: $light-theme;


// colors tokens
/* 
$accent-400: var(--accent-400);
$accent-500: var(--accent-500);
$primary-800: var(--accent-800);
$nettural-100: var(--accent-100);
$nettural-900: var(--accent-900); 

*/


//type tokens
/* 
$font-family-sans
font-weight-400
font-weight-700
font-weight-900
font-size-900

*/

/* 
colors
colors -surface -default : $netural-100 
colors -surface -inverse : $primary-800 
colors -surface -accent : $accent-400 

*/

/* 

*/